# History files
.Rhistory
.Rapp.history
.RData

# R profiler
Rprof.out

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user

# knitr files
R-data-workshop-figure/
R-data-workshop.md
R-data-workshop-rpubs.html
R-data-workshop-cache/

